html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
}
.header{
	text-align: center;
	margin-bottom: 50px;
}
.header .container{
	border-bottom: solid 1px black;
	padding: 30px 0;
}
.logo {
	width: 50px;

}

body {
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
}
.form-control{
	width: 100%;
}
.btn{
	background-color: rgba(0,240,190,0.25);
	color: white;
	margin: 60px 0 60px;
}

ul li {
	display: inline;
	text-decoration: none;


}

ul {
padding-top:20px;
}
.footer{
	
	padding-bottom: 100px;
}


.footer .container {
	border-top:1px solid gray;
}